body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(243, 233, 220);
    height: 70px;
    padding-left: 30px;
    gap: 100px;
    border: 2px solid brown;

}

ul li {
    display: inline-block;
    margin-right: 90px;
    list-style: none;
    padding: 0;
    text-align: center;
}

a {
    color: #8B8E99;
    text-decoration: none;
}

img {
    border: 2px solid brown;
}

.btn {
    margin-top: 110px;
    margin-bottom: 151px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 233, 220);
    height: 60px;
    width: 250px;
    border-radius: 20px;
    border: 2px solid brown;
}

footer {
    margin-bottom: 0;
    height: 50px;
    background-color: rgb(243, 233, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid brown;
}